.App {
  text-align: center;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.App-header {
  background-color: #111;
  height: 100px;
  padding: 20px;
  color: white;
}
.App-header-list {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.App-header-list-item {
  display: inline-block;
}
.App-header-list-item > a {
  padding: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.App-header-list-item > a:hover {
  border-bottom: 1px solid white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.references,
.slide {
  position: relative;
  height: calc(100vh - 100px);
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding-top: 10px;
  overflow: hidden;
}
.references h2,
.slide h2 {
  margin: 50px 0;
  font-size: 4rem;
  color: white;
}
.references p,
.slide p {
  font-size: 3rem;
  color: white;
}
.references ul {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}
.references li {
  color: white;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 1rem;
  border: solid 3px white;
  padding: 1rem;
}
.references a {
  color: white;
  text-decoration: none;
}
.references a:hover {
  border-bottom: solid 1px white;
}

.arrow {
  height: 3rem;
  position: absolute;
  bottom: 1rem;
  z-index: 100;
  background: #222;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
.arrow-previous {
  left: 1rem;
}
.arrow-next {
  right: 1rem;
}
.arrow:hover,
.arrow:active {
  filter: opacity(0.6);
}
.pack,
.pack-css,
.pack-css-top {
  position: absolute;
  right: -100px;
  bottom: 0;
  transform: rotate(330deg);
}
.pack-css {
  animation: flyin 3s ease;
}
.pack-css-top {
  animation: flyin-open 6s ease;
}
.pack-css-bottom {
  z-index: 40;
}
@keyframes flyin {
  0% {
    right: 120%;
    bottom: 120%;
    transform: rotate(0deg);
  }
  50% {
    right: 120%;
    bottom: 120%;
    transform: rotate(0deg);
  }

  100% {
    right: -100px;
    bottom: 0;
    transform: rotate(330deg);
  }
}
@keyframes flyin-open {
  0% {
    right: 120%;
    bottom: 120%;
    transform: rotate(0deg);
  }
  25% {
    right: 120%;
    bottom: 120%;
    transform: rotate(0deg);
  }

  50% {
    right: -100px;
    bottom: 0;
    transform: rotate(330deg);
  }
  70% {
    right: -100px;
    bottom: 0;
    transform: rotate(330deg);
  }
  95% {
    right: -100px;
    bottom: 0;
    transform: rotate(330deg) translateY(-60px);
  }
  100% {
    right: -100px;
    bottom: 0;
    transform: rotate(330deg);
  }
}
.react p {
  position: relative;
  margin: 0;
  z-index: 50;
}

.react .image {
  width: 100%;
  text-align: center;
}
.react .image img {
  position: relative;
  top: -70px;
  z-index: 20;
}
.lock {
  height: 80px;
  position: absolute;
  left: calc(50% - 30px);
  top: 50px;
  transform: rotate(30deg);
  animation: unlock 6s ease;
  z-index: 30;

  /* height: 200px;
  left: 73%;
  top: 70%;
  transform: rotate(0deg); */
}
@keyframes unlock {
  0% {
    height: 200px;
    left: 73%;
    top: 70%;
    transform: rotate(0deg);
    opacity: 0;
  }

  70% {
    height: 200px;
    left: 73%;
    top: 70%;
    transform: rotate(0deg);
    opacity: 0;
  }
  71% {
    height: 200px;
    left: 73%;
    top: 70%;
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: calc(50% - 30px);
    top: 50px;
    transform: rotate(30deg);
  }
}
